/* Sass Document */
/*Carrito */
/*Tipografias */
@font-face {
  font-family: "JosefinSans-Regular";
  src: url(../../fonts/josefin-sans/JosefinSans-Regular.eot), url(../../fonts/josefin-sans/JosefinSans-Regular.otf), url(../../fonts/josefin-sans/JosefinSans-Regular.ttf); }
#carritoContainer {
  background-image: url("../../img/fondos/main-fondo.jpg");
  background-size: cover;
  height: 100vh;
  background-position: right;
  padding-left: 100px;
  padding-right: 100px; }
  #carritoContainer button {
    border: solid #D9D9D9 1px !important; }
  #carritoContainer #botonCancelar {
    border-radius: 5px 0px 0px 5px; }
  #carritoContainer #botonPagar {
    border-radius: 0px 5px 5px 0px; }

#carritoSubContainer {
  margin-top: 25px;
  height: 88%;
  border-radius: 5px 5px 5px 5px;
  background-color: #FFFFFF !important; }
  #carritoSubContainer .row {
    padding: 15px;
    padding-top: 25px; }
    #carritoSubContainer .row h1 {
      font-family: "JosefinSans-Regular";
      font-size: 30px; }

#carritoProductoContainer {
  overflow: scroll;
  height: 68vh; }

@media only screen and (min-width: 501px) and (max-width: 767px) {
  #carritoContainer {
    padding-left: 0px;
    padding-right: 0px; }

  #carritoProductoContainer {
    height: 50vh; } }
@media only screen and (max-width: 500px) {
  #carritoContainer {
    padding-left: 0px;
    padding-right: 0px; }

  #carritoProductoContainer {
    height: 50vh; } }
